body{
    margin:0;
}
/****************NAVIGATION-BAR*****************/
nav {
    background-color: brown;
}

.logo,.menu {
    display: inline-block;
}

.logo {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
}

.menu {
    float: right;
    margin: 20px;


}

.menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;

}

.menu ul li a {
    text-decoration: none;
    padding: 20px 10px;
    color: white;

}

.menu ul li a:hover {
    background-color: lightcoral;
    color: black;
    transition: all .5s ease;
}
/************HEADER***************/
header{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
} 
header p{
    margin: 0;
    font-size: 35px;
}
header h1{
    font-size: 50px;
}
.hero-container{
    margin-left:100px ;
    padding-top:100px ;
}
.btn-work,.btn-contact{
    color: white;
    padding:10px 25px;
    border-radius: 20px;
    text-decoration: none;
    margin-top:20px;
}

.btn-work{
    background-color: brown;
}
.btn-work:hover{
    background-color:lightcoral ;
    transition: all .5s ease;
    color: black;
    font-weight: bold;
}
.btn-contact{
    background-color: #85af4b;
    margin-left:50px ;  
}


/**********about me************/

.about-me {
    display: flex;
    flex-wrap: nowrap;
   
   
}
.about-me div {
    width: 100%;
    margin-left:5%;
    font-size: 20px;
    
}
.about-me a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #85af4b;
    color: white;
    border-radius: 10px;
    margin-top: 75px;
}
#sub-title{
    text-align: center;
    color: tomato;
    font-size: 35px;
    text-transform: uppercase;
    padding-top:70px ;
    padding-bottom:70px ;
}
#description{
    margin-left: -5%;
    margin-right:5%;
}
.example{
    width: 100%;
    background-color: blue;
    height: 300px;
    position: relative;

}
.example.box{
    width: 150px;
    height: 150px;
    background-color: red;
    position:absolute;
    right: 600px;
    top: 100px;

}
/***********my skills section**********/
.my-skills{
    background-color: #e2e2e2;
    padding-top:70px ;
    padding-bottom: 70px;

}
.my-skills::after{
    content: "";
    display: block;
    clear: both;
}
.my-skills .skill-left{
    width: 33.3333333333%;
    float: left;
   overflow: hidden;
}
.my-skills .skill-center{
    width: 33.3333333333%;
    float: left;
    overflow: hidden;
}
.my-skills .skill-right{
    width: 33.3333333333%;
    float: left;
    overflow: hidden;
}